/* responsive.css */

/* For small screens */
@media (max-width: 640px) {
  .left-sidebar {
    width: 100%;
  }
  .right-sidebar {
    height: 75vh;
  }
  .toggle-button {
    top: 10px;
    left: 10px;
  }
}

/* For medium screens */
@media (min-width: 641px) and (max-width: 768px) {
  .left-sidebar {
    width: 75%;
  }
  .right-sidebar {
    height: 66vh;
  }
  .toggle-button {
    top: 16px;
    left: 16px;
  }
}

/* For large screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .left-sidebar {
    width: 50%;
  }
  .right-sidebar {
    height: 50vh;
  }
  .toggle-button {
    top: 20px;
    left: 20px;
  }
}

/* For extra large screens */
@media (min-width: 1025px) {
  .left-sidebar {
    width: 33%;
  }
  .right-sidebar {
    height: auto;
  }
  .toggle-button {
    top: 16px;
    left: 2px;
  }
}
